<h2 class="title"><span style="font-size: 1.7em">AI•ON</span><br> Artificial Intelligence <br> Open Network</h2>
<div class="header">
<nav>
  <ul class="nav nav-pills pull-xs-right">
    <li class="nav-item">
      <a class="nav-link{% if tab == "home" %} active{% endif %}" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if tab == "projects" %} active{% endif %}" href="/projects/">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if tab == "process" %} active{% endif %}" href="/process/">Process</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if tab == "about" %} active{% endif %}" href="/about/">About</a>
    </li>
  </ul>
</nav>
</div>