<!doctype html>
<html>
{{head}}

<body>

    <div class="container">
      {{header}}

      <div class="jumbotron">
        <p>
            <p class="lead">
                <b>AI•ON</b> is an <b>open community</b> dedicated to advancing Artificial Intelligence by:
            </p>

            <ul>
                <li>Drawing attention to important yet under-appreciated research problems.</li>
                <li>Connecting researchers and encouraging open scientific collaboration.</li>
                <li>Providing a learning environment for students looking to gain machine learning experience.</li>
            </ul>

            <hr>

            <p class="lead">
                As a <b>research contributor</b>, gain experience and make an impact:
            </p>

            <ul>
                <li>Explore <a href="/projects/">our list of open problems</a>, and pick one to work on.</li>
                <li>Join the team of contributors collaborating to solve it - entirely in the open.</li>
                <li>Gain machine learning expertise in contact with mentors and fellow contributors.</li>
                <li>Ship code and ideas that make a meaningful impact in the real world.</li>
            </ul>

            <hr>

            <p class="lead">
                As a <b>senior researcher</b>, outsource your backlog of projects and give back to the community:
            </p>

            <ul>
                <li>Submit research problems to the attention of the community.</li>
                <li>Provide light, high-level guidance and mentorship to the team of contributors working to solve the problem you submitted.</li>
                <li>Receive credit for your contributions to the research process.</li>
            </ul>

            <hr>

            <p class="lead">
                Read about our <a href="/process/">process</a>, our <a href="/about/">values</a>, and explore our <a href="/projects/">collection of open research problems</a>.
            </p>
        </p>
      </div>

    </div>

</body>
</html>