<!doctype html>
<html>
{{head}}

<body>

    <div class="container">
      {{header}}

      <div class="jumbotron">
        <p>
            <h2>The AI•ON collection of open research problems</h2>
            <br>

            <p style="font-size: 14px;">Our problems are divided in two groups: applied research, and fundamental research.
            <br><br>
            <b>Applied research problems</b> are ideal for students looking to develop their expertise in machine learning and deep learning while doing novel work and having a meaningful impact on the world.
            <br><br>
            <b>Fundamental research problems</b> are ambitious and important problems for which no solution exists today, and which may not even be fully solvable in the near future.
            </p>

            <hr>

            <p class="lead">Applied research problems</p>

            {{applied}}

            <hr>

            <p class="lead">Fundamental research problems</p>

            {{fundamental}}

        </p>
      </div>

    </div>

</body>
</html>