---
layout: page
---
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="col-lg-10">

              <div class="row">
                <div class="col-md-12 text-left lightgray">
                    <div class="intro-heading-2 header-textbox">
                    <h1 class="project-title">{{ page.Title }}</h1>

                    {% if page.Type == "new" %}

                        <h3 class='post-authors'>{{ page.Authors }}</h3>

                    {% endif %}
                </div>
                    <i>{{ page.Tagline }}</i><br>
                    <br>
					<b class='post-field'>Start date: </b> {{ page.Date }}<br>
					<b class='post-field'>Category: </b>{{ page.Category }}<br>
					<b class='post-field'>Contact point: </b>{{ page.Contact }}<br>
                    <br>
                </div>
              </div>

            </div>
        </div>
    </div>
</header>

<section id="" class="bg-light-gray">
    <div class="container">
        <div class="text-item">
            {{ content }}
        </div>
        <br>
  </div>
</section>
